{% extends "base/base.html" %}

{% block title %}
写文章
{% endblock %}

{% block body %}
	<h2>写文章</h2>
	{{ error }}
	<form action="create_article" method="POST">
		标题：<input type="text" name="title" value="{{ article.title }}"><br>
		分类：
		<select name="category">
			{% for category in categories %}
				<option value ="{{ category.id }}">{{ category.categoryname }}</option>
			{% endfor %}
		</select>
		<button>新建分类</button>
		<br>
		标签：<input type="text" name="tag"><br>
		内容：<br>
		<textarea cols="100" rows="30" name="content">{{ article.content }}</textarea><br>
		<input type="submit" value="提交">
		<button>取消</button>
	</form>
{% endblock %}