<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注册</title>
</head>
<body>
	<h1>注册账号</h1>
	{{ error }}
	<form action="register" method="post">
		<table>
			<tr>
				<td>用户名: </td>
				<td><input type="text" name="username" placeholder="username" value="{{ user.username }}"/></td>
			</tr>
			<tr>
				<td>密码:</td>
				<td><input type="password" name="password" placeholder="password" value="{{ user.password }}"/></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="email" name="email" placeholder="example@example.com" value="{{ user.email }}"/></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" value="Submit"/></td>
			</tr>
		</table>
	</form>
</body>
</html>