{% extends "base/base.html" %}

{% block title %}
注册
{% endblock %}

{% block body %}
	<div class="error_msg">{{ error }}</div>
	<form action="register" method="post">
		<table>
			<tr>
				<td>用户名: </td>
				<td><input type="text" name="username" placeholder="username" value="{{ user.username }}"/></td>
			</tr>
			<tr>
				<td>密码:</td>
				<td><input type="password" name="password" placeholder="password" value="{{ user.password }}"/></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="email" name="email" placeholder="example@example.com" value="{{ user.email }}"/></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" value="注册"/>
					<button id="back_btn">返回</button>
				</td>
			</tr>
		</table>
	</form>
{% endblock %}

{% block scripts %}
	{% script "/staticfiles/js/user/register.js" %}
{% endblock %}